.about {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-text {
    flex: 1;
}

.about-text p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 22px;
    line-height: 40px;
}

.section-span-about {
    margin-left: 20%;
    display: block;
    width: 90px;
    height: 7px;
    background: linear-gradient(90deg, #f87537 0%, #fba81f 100%);
    border-radius: 5px;

}

.section-header-about {
    margin-left: 20%;
    color: var(--darktext);
    display: flex;
    text-align: right;
    flex: 1; 
    white-space: nowrap;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 40px;
    font-weight: 400;
}

/* .section-header-right {
    text-align: right;
    align-self: flex-end;

} */

.contact-link {
    color: var(--oj);
}


p {
    color: var(--darktext);
}