@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --bg: #232325;
    --darkbg: #181818;
    --project: #696778;
    --oj: #f87537;
    --lightoj: #df941c;
    --darktext: #d3d3d3;
    --white: #fafafa;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 1100;
    background: url('/public/images/background.jpg');
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }