@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --bg: #333238;
    --darkbg: #161616;
    --project: #696778;
    --oj: #f87537;
    --lightoj: #fba81f;
    --darktext: #bfbfbf;
    --white: #fafafa;
    --footer: #333334;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 1100;
    background: url('/public/images/background.jpg');
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }