.home {
    margin-left: 15%;
    margin-right: 15%;
    height: calc(80vh - 50px);
    display: flex;
    justify-content: center;
  }
  
  .home-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 100%;
  }
  
  .home-text p {
    margin: 20px 0 0 0;
    width: 100%;
    font-weight: 300;
  }

  
  .home-text p:nth-child(2) {
    color: var(--oj);
    font-size: 60px;
    font-weight: bold;
  }
  
  .home-text p:nth-child(3) {
    font-size: 32px;
  }


HTML CSSResult Skip Results Iframe
EDIT ON
/* GLOBAL STYLES */




/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

h1{
  font-size: 3.2rem;
  margin-top: 1%;
}
.type{
  margin-top: 0;
    font-size: 24px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    
}
.type2{
    color: var(--oj);
    font-size: 64px; 
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 2s;
}
.type3{
    font-size: 34px; 
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 4s;
}


.container {
  display: inline-block;
}