.navbar {
	background: url('/public/images/brilliant.png');
	background-color: var(--darkbg);
	color: var(--oj);
	display: flex;
	border-bottom: 2px solid var(--lightoj);
}

.nav-link {
	color: var(--oj);
}

.nav-link:hover {
	color: var(--lightoj);
}