.navbar {
    height: 50px;
	background: url('/public/images/brilliant.png');
	background-color: var(--darkbg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    color: var(--oj);
    border-bottom: 2px solid var(--lightoj);
  }


  .nav-center {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.nav-link {
	color: var(--oj);
}

.nav-link:hover {
	color: var(--lightoj);
}