.projects {
    background: url('/public/images/brilliant.png');
    background-color: var(--darkbg);
    padding-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-span-projects {
    float: right;
    margin-right: 20%;
    display: block;
    width: 72px;
    height: 5px;
    background: linear-gradient(90deg, #f87537 0%, #fba81f 100%);
    border-radius: 5px;
}

.section-header-projects {
    color: var(--darktext);
    padding-top: 1.5%;
    font-size: 40px;
    font-weight: 400;
}

.section-header-right {
    text-align: right;
    align-self: flex-end;
    margin-right: 20%;
}

.projects-container {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 0px 40px;
    color: var(--darktext);
}

.heroku-link {
    color: var(--oj);
}

@media screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

}