.projects {
    background: url('/public/images/brilliant.png');
    background-color: var(--darkbg);
    padding-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-span-projects {
    float: right;
    margin-right: 20%;
    display: block;
    width: 72px;
    height: 5px;
    background: linear-gradient(90deg, #f87537 0%, #fba81f 100%);
    border-radius: 5px;
}

.section-header-projects {
    color: var(--darktext);
    padding-top: 1.5%;
    font-size: 40px;
    font-weight: 400;
}

.section-header-right {
    text-align: right;
    align-self: flex-end;
    margin-right: 20%;
}

.projects-container {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project-box {
    background-color: var(--darkbg);
    display: flex;
    margin-bottom: 50px;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px 40px;
    color: var(--darktext);
}

.project-text {
    width: 40%;
}

.example-video {
    width: 640px;
    align-self: flex-end;
    padding-right: 20px;
}


.heroku-link {
    color: var(--oj);
}

.buttons {
    display: block;
    width: auto;
    margin-bottom: 20px;
}

.github-btn {
    margin: 10px;
    width: 30%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: var(--white);
    background: var(--oj);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.github-btn:hover {
    transform: scale(110%);
}

.website-btn {
    margin: 10px;
    width: 30%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    color: var(--darkbg);
    background: var(--darktext);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.website-btn:hover {
    transform: scale(110%);
}

@media screen and (max-width: 1350px) {
    .project-box {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .example-video {
        width: 100% !important;
        padding-right: 0px;
    }

    .project-text {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

}